@use '@/typography-variables' as ty;

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  .backButton {
    gap: var(--spacing-2);
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    .text {
      @include ty.font(body-m, regular);
      color: var(--content-link);
    }
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: var(--spacing-4);

      .title {
        @include ty.font(title-m, semibold);
      }
    }
  }
}
