@use '@/typography-variables' as ty;

.root {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);

  @include ty.font(body-m, regular);

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.withLabel {
    cursor: pointer;
  }
}

.label {
  user-select: none;
}

.antSwitch.ant-switch-checked {
  background: var(--bg-brand-green) !important;
}

.antSwitch:not(.ant-switch-checked) {
  background: var(--bg-secondary) !important;
}

.antSwitch:hover:not(.ant-switch-disabled) {
  background: var(--bg-secondary-hover) !important;
}

.antSwitch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: var(--bg-brand-green-hover) !important;
}
