.colorPicker {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: var(--spacing-2);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-2);

  .selected {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  .color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .dropdown {
    background-color: var(--bg-primary);
    position: absolute;
    margin-top: 8px;
    box-shadow: var(--lvl2);
    border-radius: 8px;
    padding: var(--spacing-1);
    display: grid;
    grid-template-columns: repeat(6, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: var(--spacing-1);
    z-index: 10;
  }

  .wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .option {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--border-color);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
