@use '@/typography-variables' as ty;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  color: var(--content-primary);
  @include ty.font(subtitle-m, semibold);
}

.charCounter {
  @include ty.font(caption-m, regular);
  color: var(--content-secondary);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-2);
  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
  margin-bottom: 8px;

  &:hover {
    border-color: var(--border-primary-hover);
  }

  &:has(textarea:focus) {
    border-color: var(--border-primary-press);
  }

  &.error {
    border: 1px solid var(--border-negative);

    &:has(textarea:focus) {
      border-color: var(--border-negative);
    }
  }

  &.disabled {
    border-color: var(--content-disabled);
    cursor: not-allowed;
  }
}

.textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: var(--spacing-2) var(--spacing-4);
  color: var(--content-primary);
  font-family: inherit;
  resize: none;
  @include ty.font(body-m, regular);

  &::placeholder {
    color: var(--content-placeholder);
    opacity: 1;
    transition: color 0.2s ease;
  }

  &:disabled {
    color: var(--content-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--content-disabled);
    }
  }
}

.iconLeft,
.iconRight {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.iconPlaceholder {
  visibility: hidden;
}

.helperText {
  color: var(--content-secondary);
  @include ty.font(caption-m, regular);
}

.helperTextError {
  color: var(--content-negative);
  @include ty.font(caption-m, semibold);
}
