.pageWrapper {
  display: flex;
  background-color: var(--bg-tertiary);
  padding: var(--spacing-3);
  height: 100vh;
  gap: var(--spacing-3);
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.calendar {
  flex: 1;
  overflow: auto;
  position: relative;
}

.filters {
  padding: var(--spacing-3);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-primary);
  border-radius: var(--radius-6);
  z-index: 50;
}
