@use '@/typography-variables' as ty;

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  list-style: none;
  border-radius: 0 0 var(--radius-1) var(--radius-1);
  z-index: 1000;
  overflow-y: auto;
  max-height: 200px;
  box-shadow: 0 10px 16px 0 var(--surface-primary),
  0 6px 8px 0 var(--surface-primary);

  scrollbar-width: thin;
  scrollbar-color: var(--bg-tertiary) var(--white);
}


.option {
  display: flex;
  align-items: flex-start;
  padding: var(--spacing-2) var(--spacing-3);
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background-color: var(--hover-bg);
  }

  .iconLeft,
  .iconRight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }

  .optionContent {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .optionLabel {
    @include ty.font(body-m, semibold);
    color: var(--content-primary);
  }

  .optionDescription {
    @include ty.font(caption-m, regular);
    color: var(--content-secondary);
  }
}
