@use '@/typography-variables' as ty;

.tabsContainer {
  border-bottom: 1px solid var(--border-primary);
}

.antTabs {
  :global(.ant-tabs-nav) {
    margin: 0;
  }

  :global(.ant-tabs-nav::before) {
    border-color: var(--border-primary);
  }

  :global(.ant-tabs-tab) {
    padding: var(--spacing-3) var(--spacing-12) !important;
    margin: 0 !important;
  }

  :global(.ant-tabs-tab-btn) {
    color: var(--content-primary);
  }

  :global(.ant-tabs-tab-active .ant-tabs-tab-btn) {
    color: var(--content-brand-green);
  }

  :global(.ant-tabs-ink-bar) {
    height: 3px !important;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
    background: var(--bg-brand-green) !important;
  }

  :global(.ant-tabs-tab:hover .ant-tabs-tab-btn) {
    color: var(--content-brand-green);
  }
}

.tabLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
}

.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.iconPlaceholder {
  visibility: hidden;
}

.label {
  @include ty.font(subtitle-m, semibold);
  white-space: nowrap;
}
