@use '@/typography-variables' as ty;

.tabsContainer {
  width: 40%;
  border-bottom: 1px solid var(--border-color);
}

.tabs {
  display: flex;
  position: relative;
  justify-content: center;
  gap: var(--spacing-6);
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  padding: var(--spacing-3);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--brand-color);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    @include ty.font(subtitle-m, semibold);
    white-space: nowrap;
  }
}

.active {
  color: var(--brand-color);
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  border-radius: var(--radius-1) var(--radius-1) 0 0;
  background-color: var(--bg-brand-green);
  transition: left 0.3s;
}

.hoverIndicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  border-radius: var(--radius-1) var(--radius-1) 0 0;
  background-color: var(--bg-brand-green-bold);
  transition: left 0.3s;
  z-index: 1;
}
