.pageWrapper {
  display: flex;
  background-color: var(--bg-tertiary);
  padding: var(--spacing-3);
  height: 100vh;
  gap: var(--spacing-3);
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.content {
  background-color: var(--bg-primary);
  padding: var(--spacing-10) var(--spacing-6);
  border-radius: var(--spacing-6);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: var(--spacing-6);
}

.mainContent {
  display: flex;
  gap: var(--spacing-6);
  align-items: flex-start;
}

.eventContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  min-width: 0;
}

.sideContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  width: 400px;
  flex-shrink: 0;
}