.pageWrapper {
  display: flex;
  background-color: var(--bg-tertiary);
  padding: var(--spacing-3);
  height: 100vh;
  gap: var(--spacing-3);
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.content {
  background-color: var(--bg-primary);
  padding: var(--spacing-10) var(--spacing-6);
  border-radius: var(--spacing-6);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
