@use '@/typography-variables' as ty;

.wrapper {
  display: flex;
  gap: var(--spacing-3);

  &.M {
    .content {
      .title {
        @include ty.font(body-m, regular);
      }

      .subtitle {
        @include ty.font(caption-m, regular);
        color: var(--content-secondary);
      }
    }
  }

  &.S {
    .content {
      .title {
        @include ty.font(body-s, regular);
      }

      .subtitle {
        @include ty.font(caption-m, regular);
        color: var(--content-secondary);
      }
    }
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .textBlock {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);
    }
  }
}
