@use '@/typography-variables' as ty;

.wrapper {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  .textBlock {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);

    .title {
      &.M {
        @include ty.font(body-m, regular);
      }

      &.S {
        @include ty.font(body-s, regular);
      }
    }

    .subtitleWrapper {
      .subtitle {
        color: var(--content-secondary);

        &.M {
          @include ty.font(caption-m, regular);
        }

        &.S {
          @include ty.font(caption-m, regular);
        }
      }
    }
  }
}

.rightIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
