@use '@/typography-variables' as ty;

:root {
  --fc-event-bg-color: transparent;
  --fc-event-text-color: inherit;
  --fc-event-border-color: transparent;
}

:global(.fc-timegrid-event) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global(.fc.fc-theme-standard .fc-daygrid-event),
:global(.fc.fc-theme-standard .fc-timegrid-event) {
  position: relative;
  cursor: pointer;
  background-color: var(--event-bg-color, var(--bg-pink));
  color: var(--event-content-color, var(--content-pink));
  border-radius: var(--radius-1);
  padding: var(--spacing-1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--lvl3);
    z-index: 1000;
  }
}

:global(.fc-daygrid-event .event-content) {
  display: flex;
  flex-direction: column;
}

.title {
  @include ty.font(caption-m, regular);
}

.time {
  @include ty.font(caption-s, semibold);
}
