@use '@/typography-variables' as ty;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-2);
  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
  padding: var(--spacing-2) var(--spacing-4);
  gap: var(--spacing-3);

  &:hover {
    border-color: var(--border-primary-hover);
  }

  &:has(input:focus),
  &:has(textarea:focus) {
    border-color: var(--border-primary-press);
  }

  &.error {
    border: 1px solid var(--border-negative);

    &:has(input:focus),
    &:has(textarea:focus) {
      border-color: var(--border-negative);
    }
  }

  &.disabled {
    border-color: var(--content-disabled);
    cursor: not-allowed;
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--content-primary);
  @include ty.font(body-m, regular);

  &::placeholder {
    color: var(--content-placeholder);
    opacity: 1;
    transition: color 0.2s ease;
  }

  &:disabled {
    color: var(--content-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--content-disabled);
    }
  }
}

.sizeM {
  height: 44px;

  .input {
    @include ty.font(body-m, regular);
    //padding: var(--spacing-2) var(--spacing-4);
  }
}

.sizeL {
  height: 56px;

  .input {
    @include ty.font(title-m, semibold);
    //padding: var(--spacing-3) var(--spacing-4);

    &::placeholder {
      @include ty.font(title-m, semibold);
    }
  }
}

.label {
  color: var(--content-primary);
  margin-bottom: 16px;
  @include ty.font(subtitle-m, semibold);
}

.iconLeft,
.iconRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.helperText {
  color: var(--content-secondary);
  @include ty.font(caption-m, regular);
}

.helperTextError {
  color: var(--content-negative);
  @include ty.font(caption-m, semibold);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;

  background-color: transparent !important;
  -webkit-text-fill-color: inherit !important;

  transition: background-color 9999s ease 0s !important;
}
