@use '@/typography-variables' as ty;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputWrap {
  :global(.ant-input-affix-wrapper) {
    background-color: var(--bg-primary);
    border-color: var(--border-primary);
    border-radius: var(--radius-2);
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-4);
    transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
    box-shadow: none !important;
  }

  :global(.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover) {
    border-color: var(--border-primary-hover);
  }

  :global(.ant-input-affix-wrapper-focused) {
    border-color: var(--border-primary-focus);
  }

  :global(.ant-input-affix-wrapper-status-error) {
    border-color: var(--border-negative);
  }

  :global(.ant-input-affix-wrapper-disabled) {
    border-color: var(--border-disabled);
    background-color: var(--bg-disabled);
    cursor: not-allowed;
  }

  :global(.ant-input) {
    background: transparent;
    color: var(--content-primary);
    @include ty.font(body-m, regular);

    &::placeholder {
      color: var(--content-placeholder);
      opacity: 1;
    }
  }

  :global(.ant-input:disabled) {
    color: var(--content-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--content-disabled);
    }
  }
}

.affix {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizeM {
  :global(.ant-input-affix-wrapper) {
    min-height: 44px;
  }
}

.sizeL {
  :global(.ant-input-affix-wrapper) {
    min-height: 56px;
  }

  :global(.ant-input) {
    @include ty.font(title-m, semibold);

    &::placeholder {
      @include ty.font(title-m, semibold);
    }
  }
}

.label {
  color: var(--content-primary);
  margin-bottom: 16px;
  @include ty.font(subtitle-m, semibold);
}

.helperText {
  color: var(--content-secondary);
  @include ty.font(caption-m, regular);
  margin-top: var(--spacing-2);
}

.helperTextError {
  color: var(--content-negative);
  @include ty.font(caption-m, semibold);
}

.disabled {
  opacity: 0.85;
}
