@use '@/typography-variables' as ty;

.button {
  display: inline-flex;
  gap: var(--spacing-3);
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: var(--spacing-2) var(--spacing-4);

  .leftIcon,
  .rightIcon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
  }

  &.M {
    @include ty.font(button-m, semibold);
    height: 44px;
  }

  &.S {
    @include ty.font(button-s, semibold);
    height: 32px;
  }

  &.XS {
    @include ty.font(caption-s, semibold);
    height: 20px;
    padding: var(--spacing-05);
  }

  &.Filled {
    &.Filled-purple {
      background-color: var(--bg-brand-purple);
      color: var(--white);

      &:hover {
        background-color: var(--bg-brand-purple-hover);
      }

      &:active {
        background-color: var(--bg-brand-purple-press);
      }
    }

    &.Filled-red {
      background-color: var(--bg-negative);
      color: var(--white);

      &:hover {
        background-color: var(--bg-negative-hover, var(--bg-negative));
      }
    }

    &.Filled-gray {
      background-color: var(--bg-secondary);
      color: var(--content-primary);

      &:hover {
        background-color: var(--bg-secondary-hover);
      }

      &:active {
        background-color: var(--bg-secondary-press);
      }
    }
  }

  &.Text {
    background-color: transparent;

    &.Text-default {
      color: var(--content-primary);

      &:hover {
        color: var(--content-primary-hover);
      }

      &:active {
        color: var(--content-primary-press);
      }
    }

    &.Text-red {
      color: var(--content-negative);

      &:hover {
        color: var(--content-negative-hover);
      }
    }
  }
}
