@use '@/typography-variables' as ty;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: var(--spacing-2) var(--spacing-6);

  .iconLeft,
  .iconRight {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
  }

  .iconPlaceholder {
    visibility: hidden;
  }

  &.M {
    @include ty.font(button-m, semibold);
    height: 44px;
  }

  &.S {
    @include ty.font(button-s, semibold);
    height: 32px;
  }

  &.XS {
    @include ty.font(caption-s, semibold);
    height: 20px;
  }

  &.Filled {
    background-color: var(--bg-brand-purple);
    color: var(--white);

    &:hover {
      background-color: var(--bg-brand-purple-hover);
    }

    &:active {
      background-color: var(--bg-brand-purple-press);
    }

    &:disabled {
      background-color: var(--bg-disabled);
      color: var(--content-disabled);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &.Dense {
    background-color: var(--bg-secondary);
    color: var(--content-primary);

    &:hover {
      background-color: var(--bg-secondary-hover);
    }

    &:active {
      background-color: var(--bg-secondary-press);
    }

    &:disabled {
      background-color: var(--bg-disabled);
      color: var(--content-disabled);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &.Text {
    background-color: transparent;
    color: var(--content-primary);

    &:hover {
      color: var(--content-primary-hover);
    }

    &:active {
      color: var(--content-primary-press);
    }

    &:disabled {
      color: var(--content-disabled);
      cursor: not-allowed;
      opacity: 0.6;
      border-color: transparent;
    }
  }
}