.avatarWrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  cursor: default;

  &.update {
    cursor: pointer;
  }

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 50%;
    height: 50%;
    fill: white;
  }
}

.size64 {
  width: 64px;
  height: 64px;
}

.size48 {
  width: 48px;
  height: 48px;
}

.size36 {
  width: 36px;
  height: 36px;
}

.size24 {
  width: 24px;
  height: 24px;
}
