@use '@/typography-variables' as ty;

.nextEvent {
  display: flex;
  flex-direction: column;
  //padding: var(--spacing-6) var(--spacing-6);
  background-color: var(--bg-card);
  border-radius: var(--radius-2);
}

.label {
  @include ty.font(subtitle-m, semibold);
  color: var(--content-primary);
  margin-bottom: var(--spacing-4);
}

.title {
  @include ty.font(title-s, semibold);
  color: var(--content-primary);
  margin-bottom: var(--spacing-1);
}

.date {
  @include ty.font(body-s, regular);
  color: var(--content-secondary);
  margin-bottom: var(--spacing-6);
}

.actions {
  display: flex;
  gap: var(--spacing-2);

  button {
    flex: 1;
  }
}
