@use '@/typography-variables' as ty;

.pageWrapper {
  display: flex;
  background-color: var(--bg-tertiary);
  padding: var(--spacing-3);
  height: 100vh;
  gap: var(--spacing-3);
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.content {
  background-color: var(--bg-primary);
  padding: var(--spacing-10) var(--spacing-6);
  border-radius: var(--spacing-6);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: var(--spacing-10);
}

.backButton {
  gap: var(--spacing-2);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

  .icon {
    color: var(--content-secondary);
  }

  .text {
    @include ty.font(body-m, regular);
    color: var(--content-link);
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: var(--border-primary);
  width: 500px;
  margin: 0;
  flex-shrink: 0;
}

.appearanceSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.sectionTitle {
  @include ty.font(subtitle-m, semibold);
  margin-bottom: var(--spacing-2);
}

.switchRow {
  display: flex;
  align-items: center;
}