@use '@/typography-variables' as ty;

.segmented {
  width: 100%;
  max-width: 440px;

  :global(.ant-segmented) {
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-2);
    background: var(--bg-secondary);
    padding: var(--spacing-05);
  }

  :global(.ant-segmented-item) {
    @include ty.font(body-s, regular);
    border-radius: var(--radius-2) !important;
    color: var(--content-primary);
  }

  :global(.ant-segmented-item-selected) {
    background: var(--bg-brand-purple) !important;
    color: var(--white) !important;
    font-weight: 600;
  }

  :global(.ant-segmented-item:hover:not(.ant-segmented-item-selected)) {
    color: var(--bg-brand-purple);
  }

  :global(.ant-segmented-thumb) {
    background: var(--bg-brand-purple) !important;
    border-radius: var(--radius-2) !important;
  }
}
