@use '@/typography-variables' as ty;

:root {
  --fc-event-bg-color: transparent;
  --fc-event-text-color: inherit;
  --fc-event-border-color: transparent;
}

:global(.fc-timegrid-event) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === Стили для контента внутри события === */
:global(.fc-event-main .fc-event-title) {
  @include ty.font(caption-m, regular);
}

:global(.fc-event-main .fc-event-time) {
  @include ty.font(caption-s, semibold);
}

/* === Общие стили для всех событий === */
:global(.fc.fc-theme-standard .fc-daygrid-event),
:global(.fc.fc-theme-standard .fc-timegrid-event) {
  position: relative;
  cursor: pointer;
  background-color: var(--bg-pink);
  color: var(--content-pink);
  border-radius: var(--radius-1);
  padding: var(--spacing-1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
  }
}

/* === Мелкие утилиты === */
:global(.fc-daygrid-event .event-content) {
  display: flex;
  flex-direction: column;
}
