.menu {
  position: absolute;
  top: 0;
  left: 45px;
  background: var(--bg-primary);
  box-shadow: var(--lvl2);
  border-radius: var(--spacing-4);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  z-index: 5;
}

.triggerWrapper {
  position: relative;
  display: inline-block;
}

.button {
  justify-content: flex-start;
}

