@use '@/typography-variables' as ty;

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 500px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.sectionTitle {
  @include ty.font(subtitle-m, semibold);
}

.nameRow {
  display: flex;
  gap: var(--spacing-2);
  
  > * {
    flex: 1;
  }
}

.divider {
  height: 1px;
  background-color: var(--border-primary);
}


