@use '@/typography-variables' as ty;

.sublist {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-2)
}

.title {
  @include ty.font(subtitle-m, semibold);
}

.count {
  @include ty.font(caption-m, regular);
  color: var(--content-secondary);
}

.list {
  display: flex;
  flex-direction: column;
}
