.label {
  color: var(--content-primary);
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 650;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  margin-top: var(--spacing-2);
}

