@use '@/typography-variables' as ty;

.formWrapper {
  background-color: var(--bg-primary);
  border-radius: var(--spacing-6);
}

.form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-10) var(--spacing-6);
  gap: var(--spacing-12);
  width: 700px;
}

.date {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  > *:nth-child(3) {
    margin-top: var(--spacing-6);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-6);
  box-shadow: var(--lvl1);
}

.input {
  @include ty.font(title-m, semibold);
  flex: 1;
  outline: none;
  border: none;
}

.closeButton {
  background: transparent;
  border: none;
  padding: var(--spacing-2);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.avatarRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.title {
  @include ty.font(subtitle-m, semibold);
}

.hint {
  @include ty.font(caption-m, regular);
  color: var(--content-secondary);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.categoryButton {
  width: 32px;
  height: 32px;
  border-radius: var(--radius-1);
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.participants {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.participantsRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.participantsToggle {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);
  @include ty.font(body-m, regular);
}

.participantsRoles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
