@use '@/typography-variables' as ty;

.block {
  padding: var(--spacing-6) var(--spacing-4);
  background-color: var(--bg-primary);
  border-radius: var(--radius-6);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 345px;
  height: 100%;
}

.createEventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
}

.createEventText {
  @include ty.font(subtitle-m, semibold);
  color: var(--text-primary);
  text-align: center;
}

.block:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}