@import "@/typography";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 345px;
  padding: 16px;
}

.createEventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.createEventText {
  @include font(subtitle-m, semibold);
  color: var(--text-primary);
  text-align: center;
}
