@import "@/typography";

.block{
  padding: var(--spacing-6) var(--spacing-4);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 345px;
}

.createEventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
}

.createEventText {
  @include font(subtitle-m, semibold);
  color: var(--text-primary);
  text-align: center;
}
