@use '@/typography-variables' as ty;

.chip {
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-4);
  background-color: var(--chip-bg, var(--bg-pink));
  color: var(--chip-color, var(--content-pink));
  font-weight: 500;
  cursor: default;

  .text {
    white-space: nowrap;
  }

  .closeButton {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;

    img {
      width: 12px;
      height: 12px;
    }
  }
}

.size-S {
  @include ty.font(body-s, regular);
  padding: var(--spacing-1) var(--spacing-3);
}

.size-M {
  @include ty.font(caption-m, regular);
  padding: var(--spacing-1) var(--spacing-4);
}
