@use '@/typography-variables' as ty;

.contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.title {
  @include ty.font(subtitle-m, semibold);
  color: var(--content-primary);
  margin: 0;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}