@use '@/typography-variables' as ty;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.variant-text {
  min-width: 20px;
  height: 20px;
  padding: var(--spacing-1) var(--spacing-05);
  @include ty.font(caption-s, regular);
}

.variant-dot {
  display: inline-block;
}

.size-S {
  width: 6px;
  height: 6px;
}

.size-M {
  width: 8px;
  height: 8px;
}

.color-primary {
  color: var(--white);
  background-color: var(--bg-brand-purple);
}

.color-secondary {
  color: var(--content-primary);
  background-color: var(--bg-brand-green);
}

.color-green {
  background-color: var(--bg-brand-green);
}

.color-negative {
  background-color: var(--content-negative);
}
