.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--badge-bg, var(--bg-brand-green));
}

.variant-text {
  min-width: 20px;
  height: 20px;
  padding: var(--spacing-1) var(--spacing-05);
}

.variant-dot {
  display: inline-block;
}

.size-S {
  width: 6px;
  height: 6px;
}

.size-M {
  width: 10px;
  height: 10px;
}
