.wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;

  &.update {
    cursor: pointer;
  }

  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 50%;
    height: 50%;
  }
}

.XS { width: 24px; height: 24px; }
.S  { width: 36px; height: 36px; }
.M  { width: 48px; height: 48px; }
.L  { width: 64px; height: 64px; }
