@import '@/typography';

.nextEvent {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6) var(--spacing-6);
  background-color: var(--bg-card);
  border-radius: var(--radius-2);
}

.label {
  @include font(subtitle-m, semibold);
  color: var(--content-primary);
  margin-bottom: var(--spacing-4);
}

.title {
  @include font(title-s, semibold);
  color: var(--content-primary);
  margin-bottom: var(--spacing-1);
}

.date {
  @include font(body-s, regular);
  color: var(--content-secondary);
  margin-bottom: var(--spacing-6);
}

.actions {
  display: flex;
  gap: 8px;
}
