// Шрифты (семейство)
$font-family-base: 'Manrope', sans-serif;

// Размеры шрифтов
$font-sizes: (
        title-m: 24px,
        title-s: 20px,
        subtitle-m: 18px,
        subtitle-s: 16px,
        body-m: 18px,
        body-s: 16px,
        caption-m: 14px,
        caption-s: 12px,
        button-m: 16px,
        button-s: 14px
);

// Вес шрифта
$font-weights: (
        regular: 450,
        semibold: 650
);

// Line-height
$line-heights: (
        title-m: 32px,
        title-s: 28px,
        subtitle-m: 24px,
        subtitle-s: 22px,
        body-m: 24px,
        body-s: 22px,
        caption-m: 18px,
        caption-s: 16px,
        button-m: 24px,
        button-s: 22px
);

// Миксин для шрифта
@mixin font($key, $weight: regular) {
  font-family: $font-family-base;
  font-size: map-get($font-sizes, $key);
  font-weight: map-get($font-weights, $weight);
  line-height: map-get($line-heights, $key);
}