@use '@/typography-variables' as ty;

.createForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-6);
  background-color: var(--bg-secondary-subtle);
  border-radius: var(--radius-6);
}

.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formTitle {
  @include ty.font(subtitle-m, semibold);
  color: var(--content-primary);
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.button {
  width: 100%;
}